body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.lbl {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #000000;
  font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: lighter;
}

.level {
  color:crimson ;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.level {
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.App-logo {
  float: right;
}
/*feedback form name*/
.feedbackFormName
{
  /*font-size: 40px;*/
  color: black;
  font-family: Segoe UI,SegoeUI,\"Helvetica Neue\",Helvetica,Arial,sans-serif;
  font-weight: lighter;
}
/*style={{color:"black",fontFamily:"Segoe UI,SegoeUI,\"Helvetica Neue\",Helvetica,Arial,sans-serif",fontWeight:"lighter"}}*/