body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.lbl {
  margin-top: 20px;
  color: aliceblue;
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.level {
  color:crimson ;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.level {
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.App-logo {
  float: right;
}

